In [1]:
# The Levels in the pivot table will be stored in
# MultiIndex Objects (hierarchical indexes) on the index 
# and coloumns of the result DataFrame .

In [2]:
#we can use pviot table to summerise and aggregate dataframe.

In [4]:
# Syntax: DataFrame.pivot_table()

# Parameters:
#     Values 
#     index
#     coloumns 
#     aggfun
#     fill_value
#     margins
#     dropna

In [5]:
import pandas as pd

In [7]:
df=pd.read_csv("D:\CSV\movies.csv")
df

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [8]:
df.pivot_table(index='Genre')

           Audience score %  Profitability  Rotten Tomatoes %         Year
Genre
Action            45.000000       1.245333          11.000000  2010.000000
Animation         70.250000       3.759414          74.250000  2010.000000
Comdy             61.000000       2.649068          13.000000  2008.000000
Comedy            60.975610       3.776946          42.707317  2008.853659
Drama             67.230769       8.407218          51.538462  2009.384615
Fantasy           81.000000       1.783944          73.000000  2008.000000
Romance           62.769231       3.984790          42.076923  2009.307692
Romence           84.000000       8.744706          93.000000  2011.000000
comedy            81.000000       8.096000          87.000000  2009.000000
romance           84.000000       0.652603          54.000000  2007.000000

In [10]:
df.pivot_table(index = 'Genre', columns ='Year')

          Audience score %                                           \
Year                  2007       2008       2009    2010       2011
Genre
Action                 NaN        NaN        NaN  45.000        NaN
Animation              NaN  89.000000        NaN  88.000  52.000000
Comdy                  NaN  61.000000        NaN     NaN        NaN
Comedy                64.0  69.916667  59.833333  52.375  80.000000
Drama                  NaN  60.000000  62.600000  68.000  81.666667
Fantasy                NaN  81.000000        NaN     NaN        NaN
Romance               66.5  76.000000        NaN     NaN  56.857143
Romence                NaN        NaN        NaN     NaN  84.000000
comedy                 NaN        NaN  81.000000     NaN        NaN
romance               84.0        NaN        NaN     NaN        NaN

          Profitability                                           \
Year               2007       2008      2009      2010      2011
Genre
Action              NaN        NaN       NaN  1.245333       NaN
Animation           NaN   2.896019       NaN  1.365692  5.387972
Comdy               NaN   2.649068       NaN       NaN       NaN
Comedy         3.404442   6.087020  4.476973  1.878137  4.471875
Drama               NaN  23.842006  5.064381  4.045025  1.451955
Fantasy             NaN   1.783944       NaN       NaN       NaN
Romance        5.891115   5.963784       NaN       NaN  2.330034
Romence             NaN        NaN       NaN       NaN  8.744706
comedy              NaN        NaN  8.096000       NaN       NaN
romance        0.652603        NaN       NaN       NaN       NaN

          Rotten Tomatoes %
Year                   2007       2008       2009    2010       2011
Genre
Action                  NaN        NaN        NaN  11.000        NaN
Animation               NaN  96.000000        NaN  89.000  56.000000
Comdy                   NaN  13.000000        NaN     NaN        NaN
Comedy                44.00  49.583333  39.666667  35.625  84.000000
Drama                   NaN  61.666667  41.200000  28.500  74.000000
Fantasy                 NaN  73.000000        NaN     NaN        NaN
Romance               54.75  56.500000        NaN     NaN  30.714286
Romence                 NaN        NaN        NaN     NaN  93.000000
comedy                  NaN        NaN  87.000000     NaN        NaN
romance               54.00        NaN        NaN     NaN        NaN

In [12]:
df.pivot_table(index = 'Genre', columns ='Year', aggfunc='count')

          Audience score %                       Film                        \
Year                  2007  2008 2009  2010 2011 2007  2008 2009  2010 2011
Genre
Action                 NaN   NaN  NaN   1.0  NaN  NaN   NaN  NaN   1.0  NaN
Animation              NaN   1.0  NaN   1.0  2.0  NaN   1.0  NaN   1.0  2.0
Comdy                  NaN   1.0  NaN   NaN  NaN  NaN   1.0  NaN   NaN  NaN
Comedy                 6.0  12.0  6.0  16.0  1.0  6.0  12.0  6.0  16.0  1.0
Drama                  NaN   3.0  5.0   2.0  3.0  NaN   3.0  5.0   2.0  3.0
Fantasy                NaN   1.0  NaN   NaN  NaN  NaN   1.0  NaN   NaN  NaN
Romance                4.0   2.0  NaN   NaN  7.0  4.0   2.0  NaN   NaN  7.0
Romence                NaN   NaN  NaN   NaN  1.0  NaN   NaN  NaN   NaN  1.0
comedy                 NaN   NaN  1.0   NaN  NaN  NaN   NaN  1.0   NaN  NaN
romance                1.0   NaN  NaN   NaN  NaN  1.0   NaN  NaN   NaN  NaN

           ... Rotten Tomatoes %                       Worldwide Gross        \
Year       ...              2007  2008 2009  2010 2011            2007  2008
Genre      ...
Action     ...               NaN   NaN  NaN   1.0  NaN             NaN   NaN
Animation  ...               NaN   1.0  NaN   1.0  2.0             NaN   1.0
Comdy      ...               NaN   1.0  NaN   NaN  NaN             NaN   1.0
Comedy     ...               6.0  12.0  6.0  16.0  1.0             6.0  12.0
Drama      ...               NaN   3.0  5.0   2.0  3.0             NaN   3.0
Fantasy    ...               NaN   1.0  NaN   NaN  NaN             NaN   1.0
Romance    ...               4.0   2.0  NaN   NaN  7.0             4.0   2.0
Romence    ...               NaN   NaN  NaN   NaN  1.0             NaN   NaN
comedy     ...               NaN   NaN  1.0   NaN  NaN             NaN   NaN
romance    ...               1.0   NaN  NaN   NaN  NaN             1.0   NaN


Year      2009  2010 2011
Genre
Action     NaN   1.0  NaN
Animation  NaN   1.0  2.0
Comdy      NaN   NaN  NaN
Comedy     6.0  16.0  1.0
Drama      5.0   2.0  3.0
Fantasy    NaN   NaN  NaN
Romance    NaN   NaN  7.0
Romence    NaN   NaN  1.0
comedy     1.0   NaN  NaN
romance    NaN   NaN  NaN

[10 rows x 30 columns]

In [13]:
df.pivot_table(index = 'Genre', columns ='Year', aggfunc='max')

          Audience score %                                         Film  \
Year                  2007  2008  2009  2010  2011                 2007
Genre
Action                 NaN   NaN   NaN  45.0   NaN                  NaN
Animation              NaN  89.0   NaN  88.0  52.0                  NaN
Comdy                  NaN  61.0   NaN   NaN   NaN                  NaN
Comedy                83.0  81.0  74.0  62.0  80.0   The Heartbreak Kid
Drama                  NaN  68.0  78.0  70.0  89.0                  NaN
Fantasy                NaN  81.0   NaN   NaN   NaN                  NaN
Romance               82.0  82.0   NaN   NaN  77.0             Waitress
Romence                NaN   NaN   NaN   NaN  84.0                  NaN
comedy                 NaN   NaN  81.0   NaN   NaN                  NaN
romance               84.0   NaN   NaN   NaN   NaN  Across the Universe

                                                                             \
Year                                      2008                         2009
Genre
Action                                     NaN                          NaN
Animation                               WALL-E                          NaN
Comdy                            Made of Honor                          NaN
Comedy                   What Happens in Vegas               The Ugly Truth
Drama                              The Duchess  The Twilight Saga: New Moon
Fantasy    The Curious Case of Benjamin Button                          NaN
Romance             Zack and Miri Make a Porno                          NaN
Romence                                    NaN                          NaN
comedy                                     NaN         (500) Days of Summer
romance                                    NaN                          NaN

                                                 ... Rotten Tomatoes %        \
Year                  2010                 2011  ...              2007  2008
Genre                                            ...
Action             Killers                  NaN  ...               NaN   NaN
Animation          Tangled    Gnomeo and Juliet  ...               NaN  96.0
Comdy                  NaN                  NaN  ...               NaN  13.0
Comedy     Youth in Revolt            Beginners  ...              93.0  78.0
Drama          Remember Me  Water For Elephants  ...               NaN  85.0
Fantasy                NaN                  NaN  ...               NaN  73.0
Romance                NaN  Waiting For Forever  ...              89.0  64.0
Romence                NaN    Midnight in Paris  ...               NaN   NaN
comedy                 NaN                  NaN  ...               NaN   NaN
romance                NaN                  NaN  ...              54.0   NaN

                            Worldwide Gross                                \
Year       2009  2010  2011            2007      2008      2009      2010
Genre
Action      NaN  11.0   NaN             NaN       NaN       NaN   $93.40
Animation   NaN  89.0  56.0             NaN  $521.28        NaN  $355.01
Comdy       NaN   NaN   NaN             NaN  $105.96        NaN       NaN
Comedy     56.0  71.0  84.0         $92.60   $609.47    $32.40    $96.16
Drama      89.0  29.0  83.0             NaN   $43.31   $709.82    $55.86
Fantasy     NaN   NaN   NaN             NaN  $285.43        NaN       NaN
Romance     NaN   NaN  85.0         $55.86    $41.94        NaN       NaN
Romence     NaN   NaN  93.0             NaN       NaN       NaN       NaN
comedy     87.0   NaN   NaN             NaN       NaN   $60.72        NaN
romance     NaN   NaN   NaN         $29.37        NaN       NaN       NaN


Year           2011
Genre
Action          NaN
Animation  $193.97
Comdy           NaN
Comedy      $14.31
Drama        $8.97
Fantasy         NaN
Romance    $702.17
Romence    $148.66
comedy          NaN
romance         NaN

[10 rows x 30 columns]

In [14]:
df.pivot_table(index = 'Genre', columns ='Year', aggfunc='sum')

          Audience score %                             Profitability  \
Year                  2007   2008   2009   2010   2011          2007
Genre
Action                 NaN    NaN    NaN   45.0    NaN           NaN
Animation              NaN   89.0    NaN   88.0  104.0           NaN
Comdy                  NaN   61.0    NaN    NaN    NaN           NaN
Comedy               384.0  839.0  359.0  838.0   80.0     20.426655
Drama                  NaN  180.0  313.0  136.0  245.0           NaN
Fantasy                NaN   81.0    NaN    NaN    NaN           NaN
Romance              266.0  152.0    NaN    NaN  398.0     23.564461
Romence                NaN    NaN    NaN    NaN   84.0           NaN
comedy                 NaN    NaN   81.0    NaN    NaN           NaN
romance               84.0    NaN    NaN    NaN    NaN      0.652603

                                                      Rotten Tomatoes %  \
Year            2008       2009       2010       2011              2007
Genre
Action           NaN        NaN   1.245333        NaN               NaN
Animation   2.896019        NaN   1.365692  10.775944               NaN
Comdy       2.649068        NaN        NaN        NaN               NaN
Comedy     73.044240  26.861836  30.050197   4.471875             264.0
Drama      71.526017  25.321907   8.090050   4.355866               NaN
Fantasy     1.783944        NaN        NaN        NaN               NaN
Romance    11.927569        NaN        NaN  16.310240             219.0
Romence          NaN        NaN        NaN   8.744706               NaN
comedy           NaN   8.096000        NaN        NaN               NaN
romance          NaN        NaN        NaN        NaN              54.0


Year        2008   2009   2010   2011
Genre
Action       NaN    NaN   11.0    NaN
Animation   96.0    NaN   89.0  112.0
Comdy       13.0    NaN    NaN    NaN
Comedy     595.0  238.0  570.0   84.0
Drama      185.0  206.0   57.0  222.0
Fantasy     73.0    NaN    NaN    NaN
Romance    113.0    NaN    NaN  215.0
Romence      NaN    NaN    NaN   93.0
comedy       NaN   87.0    NaN    NaN
romance      NaN    NaN    NaN    NaN

In [15]:
df.pivot_table(index = 'Genre', columns ='Year', aggfunc='sum',fill_value = 'none')

          Audience score %                             Profitability  \
Year                  2007   2008   2009   2010   2011          2007
Genre
Action                none   none   none   45.0   none          none
Animation             none   89.0   none   88.0  104.0          none
Comdy                 none   61.0   none   none   none          none
Comedy               384.0  839.0  359.0  838.0   80.0     20.426655
Drama                 none  180.0  313.0  136.0  245.0          none
Fantasy               none   81.0   none   none   none          none
Romance              266.0  152.0   none   none  398.0     23.564461
Romence               none   none   none   none   84.0          none
comedy                none   none   81.0   none   none          none
romance               84.0   none   none   none   none      0.652603

                                                      Rotten Tomatoes %  \
Year            2008       2009       2010       2011              2007
Genre
Action          none       none   1.245333       none              none
Animation   2.896019       none   1.365692  10.775944              none
Comdy       2.649068       none       none       none              none
Comedy      73.04424  26.861836  30.050197   4.471875             264.0
Drama      71.526017  25.321907    8.09005   4.355866              none
Fantasy     1.783944       none       none       none              none
Romance    11.927569       none       none   16.31024             219.0
Romence         none       none       none   8.744706              none
comedy          none      8.096       none       none              none
romance         none       none       none       none              54.0


Year        2008   2009   2010   2011
Genre
Action      none   none   11.0   none
Animation   96.0   none   89.0  112.0
Comdy       13.0   none   none   none
Comedy     595.0  238.0  570.0   84.0
Drama      185.0  206.0   57.0  222.0
Fantasy     73.0   none   none   none
Romance    113.0   none   none  215.0
Romence     none   none   none   93.0
comedy      none   87.0   none   none
romance     none   none   none   none

In [16]:
df.pivot_table(index = 'Genre', columns ='Year', fill_value= 0, margins = True)

          Audience score %                                           \
Year                  2007       2008       2009    2010       2011
Genre
Action            0.000000   0.000000   0.000000  45.000   0.000000
Animation         0.000000  89.000000   0.000000  88.000  52.000000
Comdy             0.000000  61.000000   0.000000   0.000   0.000000
Comedy           64.000000  69.916667  59.833333  52.375  80.000000
Drama             0.000000  60.000000  62.600000  68.000  81.666667
Fantasy           0.000000  81.000000   0.000000   0.000   0.000000
Romance          66.500000  76.000000   0.000000   0.000  56.857143
Romence           0.000000   0.000000   0.000000   0.000  84.000000
comedy            0.000000   0.000000  81.000000   0.000   0.000000
romance          84.000000   0.000000   0.000000   0.000   0.000000
All              66.727273  70.100000  62.750000  55.350  65.071429

                     Profitability                                           \
Year             All          2007       2008      2009      2010      2011
Genre
Action     45.000000      0.000000   0.000000  0.000000  1.245333  0.000000
Animation  70.250000      0.000000   2.896019  0.000000  1.365692  5.387972
Comdy      61.000000      0.000000   2.649068  0.000000  0.000000  0.000000
Comedy     60.975610      3.404442   6.087020  4.476973  1.878137  4.471875
Drama      67.230769      0.000000  23.842006  5.064381  4.045025  1.451955
Fantasy    81.000000      0.000000   1.783944  0.000000  0.000000  0.000000
Romance    62.769231      5.891115   5.963784  0.000000  0.000000  2.330034
Romence    84.000000      0.000000   0.000000  0.000000  0.000000  8.744706
comedy     81.000000      0.000000   0.000000  8.096000  0.000000  0.000000
romance    84.000000      0.652603   0.000000  0.000000  0.000000  0.000000
All        63.727273      4.058520   8.191343  5.023312  2.037564  3.189902

                    Rotten Tomatoes %                                \
Year            All              2007       2008       2009    2010
Genre
Action     1.245333          0.000000   0.000000   0.000000  11.000
Animation  3.759414          0.000000  96.000000   0.000000  89.000
Comdy      2.649068          0.000000  13.000000   0.000000   0.000
Comedy     3.776946         44.000000  49.583333  39.666667  35.625
Drama      8.407218          0.000000  61.666667  41.200000  28.500
Fantasy    1.783944          0.000000  73.000000   0.000000   0.000
Romance    3.984790         54.750000  56.500000   0.000000   0.000
Romence    8.744706          0.000000   0.000000   0.000000   0.000
comedy     8.096000          0.000000   0.000000  87.000000   0.000
romance    0.652603         54.000000   0.000000   0.000000   0.000
All        4.599483         48.818182  53.750000  44.250000  36.350


Year            2011        All
Genre
Action      0.000000  11.000000
Animation  56.000000  74.250000
Comdy       0.000000  13.000000
Comedy     84.000000  42.707317
Drama      74.000000  51.538462
Fantasy     0.000000  73.000000
Romance    30.714286  42.076923
Romence    93.000000  93.000000
comedy      0.000000  87.000000
romance     0.000000  54.000000
All        51.857143  46.701299

In [17]:
df.pivot_table(index = 'Genre', columns ='Year', aggfunc='sum',fill_value= 0, margins = True)

          Audience score %                             Profitability  \
Year                  2007  2008 2009  2010 2011   All          2007
Genre
Action                   0     0    0    45    0    45      0.000000
Animation                0    89    0    88  104   281      0.000000
Comdy                    0    61    0     0    0    61      0.000000
Comedy                 384   839  359   838   80  2500     20.426655
Drama                    0   180  313   136  245   874      0.000000
Fantasy                  0    81    0     0    0    81      0.000000
Romance                266   152    0     0  398   816     23.564461
Romence                  0     0    0     0   84    84      0.000000
comedy                   0     0   81     0    0    81      0.000000
romance                 84     0    0     0    0    84      0.652603
All                    734  1402  753  1107  911  4907     44.643719

                                                                    \
Year             2008       2009       2010       2011         All
Genre
Action       0.000000   0.000000   1.245333   0.000000    1.245333
Animation    2.896019   0.000000   1.365692  10.775944   15.037656
Comdy        2.649068   0.000000   0.000000   0.000000    2.649068
Comedy      73.044240  26.861836  30.050197   4.471875  154.854802
Drama       71.526017  25.321907   8.090050   4.355866  109.293839
Fantasy      1.783944   0.000000   0.000000   0.000000    1.783944
Romance     11.927569   0.000000   0.000000  16.310240   51.802270
Romence      0.000000   0.000000   0.000000   8.744706    8.744706
comedy       0.000000   8.096000   0.000000   0.000000    8.096000
romance      0.000000   0.000000   0.000000   0.000000    0.652603
All        163.826856  60.279743  40.751272  44.658631  354.160222

          Rotten Tomatoes %
Year                   2007  2008 2009 2010 2011   All
Genre
Action                    0     0    0   11    0    11
Animation                 0    96    0   89  112   297
Comdy                     0    13    0    0    0    13
Comedy                  264   595  238  570   84  1751
Drama                     0   185  206   57  222   670
Fantasy                   0    73    0    0    0    73
Romance                 219   113    0    0  215   547
Romence                   0     0    0    0   93    93
comedy                    0     0   87    0    0    87
romance                  54     0    0    0    0    54
All                     537  1075  531  727  726  3596