In [1]:
import pandas as pd

In [7]:
df=pd.read_csv('D:\\CSV\\Fortune_10 - Copy.csv')
df

,ID,data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,yes,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,yes,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,yes,Techdrill,not available,NaN,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,no,Techline,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,yes,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,yes,Kayelectronics,NaN,2009.0,"$9,451,943",NaN,5573830,NaN
8,9,no,Ganzlax,IT Services,2011.0,"$14,001,180",not available,11901180,18%
9,10,yes,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

In [11]:
df=pd.read_csv('D:\\CSV\\Fortune_10 - Copy.csv')
df

,ID,data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,yes,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,yes,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,yes,Techdrill,not available,NaN,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,no,Techline,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816,no values
6,7,yes,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,yes,Kayelectronics,no values,2009.0,"$9,451,943",NaN,5573830,NaN
8,9,no,Ganzlax,IT Services,2011.0,"$14,001,180",not available,11901180,18%
9,10,yes,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

# na_values

In [9]:
df=pd.read_csv('D:\\CSV\\Fortune_10 - Copy.csv', na_values=['not available'])
df

,ID,data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,yes,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,yes,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557,NaN
4,5,yes,Techdrill,NaN,NaN,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,no,Techline,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816,no values
6,7,yes,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,yes,Kayelectronics,no values,2009.0,"$9,451,943",NaN,5573830,NaN
8,9,no,Ganzlax,IT Services,2011.0,"$14,001,180",NaN,11901180,18%
9,10,yes,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

In [10]:
df=pd.read_csv('D:\\CSV\\Fortune_10 - Copy.csv',na_values=['not available','no values'])
df

,ID,data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,yes,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,yes,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557,NaN
4,5,yes,Techdrill,NaN,NaN,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,no,Techline,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816,NaN
6,7,yes,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,yes,Kayelectronics,NaN,2009.0,"$9,451,943",NaN,5573830,NaN
8,9,no,Ganzlax,IT Services,2011.0,"$14,001,180",NaN,11901180,18%
9,10,yes,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

In [13]:
df=pd.read_csv('D:\\CSV\\Fortune_10 - Copy.csv')
df

,ID,data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,yes,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,yes,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,yes,Techdrill,not available,NaN,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,no,Techline,Health,2006.0,"$13,898,119",NaN,8427816,no values
6,7,yes,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,yes,Kayelectronics,no values,2009.0,"$9,451,943",NaN,5573830,Null
8,9,no,Ganzlax,IT Services,2011.0,"$14,001,180",not available,11901180,18%
9,10,yes,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

# keep_default_na

In [14]:
df=pd.read_csv('D:\\CSV\\Fortune_10 - Copy.csv',keep_default_na=False)
df

,ID,data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,no,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,yes,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,yes,Techdrill,not available,,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,no,Techline,Health,2006,"$13,898,119",NaN,8427816,no values
6,7,yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,yes,Kayelectronics,no values,2009,"$9,451,943",,5573830,Null
8,9,no,Ganzlax,IT Services,2011,"$14,001,180",not available,11901180,18%
9,10,yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [15]:
df=pd.read_csv('D:\\CSV\\Fortune_10 - Copy.csv',keep_default_na=True)
df

,ID,data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916,20%
2,3,yes,Canecorporation,Health,2012.0,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,yes,Mattouch,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557,not available
4,5,yes,Techdrill,not available,NaN,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,no,Techline,Health,2006.0,"$13,898,119",NaN,8427816,no values
6,7,yes,Cityace,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,yes,Kayelectronics,no values,2009.0,"$9,451,943",NaN,5573830,Null
8,9,no,Ganzlax,IT Services,2011.0,"$14,001,180",not available,11901180,18%
9,10,yes,Trantraxlax,Government Services,2011.0,"$11,088,336","5,635,276 Dollars",5453060,7%

In [16]:
df=pd.read_csv('D:\\CSV\\Fortune_10.csv')
df

,ID,data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,no,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,yes,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,no,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,yes,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,no,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

# na_filter

In [20]:
df=pd.read_csv('D:\\CSV\\Fortune_10.csv',na_filter=False) # it help us to boost the performance
df

,ID,data,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,no,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,yes,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,yes,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,yes,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,no,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,yes,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,yes,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,no,Ganzlax,IT Services,2011,"$14,001,180",44889116,11901180,18%
9,10,yes,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%