In [1]:
import pandas as pd

# Pandas interpolate()

In [2]:
# Pandas interpolate function is basically used to fill NaN value in dataframe or series

In [3]:
# it is very powerful function 
# uses various interpolation techniques

In [4]:
df=pd.read_csv("D:\CSV\student_results - Copy.csv")
df

,Date,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1/2/2020,1001.0,10,2,9,3,5,50.0
1,5/2/2020,1002.0,10,6,8,2,0,NaN
2,1/3/2020,NaN,10,3,8,2,4,60.0
3,6/3/2020,NaN,11,0,10,1,5,45.0
4,9/3/2020,NaN,15,4,7,2,0,75.0
5,5/4/2020,NaN,11,10,7,0,0,NaN
6,6/5/2020,NaN,16,4,6,0,0,NaN
7,8/5/2020,1008.0,12,10,6,2,0,NaN
8,6/7/2020,1009.0,12,2,8,2,4,60.0
9,8/9/2020,1010.0,12,6,9,1,0,85.0

In [5]:
df.interpolate() # Interpolate function is guessing the missing value in data set.

,Date,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1/2/2020,1001.0,10,2,9,3,5,50.00
1,5/2/2020,1002.0,10,6,8,2,0,55.00
2,1/3/2020,1003.0,10,3,8,2,4,60.00
3,6/3/2020,1004.0,11,0,10,1,5,45.00
4,9/3/2020,1005.0,15,4,7,2,0,75.00
5,5/4/2020,1006.0,11,10,7,0,0,71.25
6,6/5/2020,1007.0,16,4,6,0,0,67.50
7,8/5/2020,1008.0,12,10,6,2,0,63.75
8,6/7/2020,1009.0,12,2,8,2,4,60.00
9,8/9/2020,1010.0,12,6,9,1,0,85.00

In [6]:
df.interpolate(method = 'linear')# method = 'linear ' is default dataframe

,Date,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,1/2/2020,1001.0,10,2,9,3,5,50.00
1,5/2/2020,1002.0,10,6,8,2,0,55.00
2,1/3/2020,1003.0,10,3,8,2,4,60.00
3,6/3/2020,1004.0,11,0,10,1,5,45.00
4,9/3/2020,1005.0,15,4,7,2,0,75.00
5,5/4/2020,1006.0,11,10,7,0,0,71.25
6,6/5/2020,1007.0,16,4,6,0,0,67.50
7,8/5/2020,1008.0,12,10,6,2,0,63.75
8,6/7/2020,1009.0,12,2,8,2,4,60.00
9,8/9/2020,1010.0,12,6,9,1,0,85.00

In [7]:
df.interpolate(method = 'time')

ValueError: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [8]:
type(df.Date[0])

str

In [9]:
df=pd.read_csv("D:\CSV\student_results - Copy.csv",parse_dates=['Date'])
df
# parse_dates convert string Data type of date into timestamps data type.

,Date,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
0,2020-01-02,1001.0,10,2,9,3,5,50.0
1,2020-05-02,1002.0,10,6,8,2,0,NaN
2,2020-01-03,NaN,10,3,8,2,4,60.0
3,2020-06-03,NaN,11,0,10,1,5,45.0
4,2020-09-03,NaN,15,4,7,2,0,75.0
5,2020-05-04,NaN,11,10,7,0,0,NaN
6,2020-06-05,NaN,16,4,6,0,0,NaN
7,2020-08-05,1008.0,12,10,6,2,0,NaN
8,2020-06-07,1009.0,12,2,8,2,4,60.0
9,2020-08-09,1010.0,12,6,9,1,0,85.0

In [10]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [11]:
df=pd.read_csv("D:\CSV\student_results - Copy.csv",parse_dates=['Date'],index_col = 'Date')
df

# date Column changes into index column.

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
Date,,,,,,,
2020-01-02,1001.0,10,2,9,3,5,50.0
2020-05-02,1002.0,10,6,8,2,0,NaN
2020-01-03,NaN,10,3,8,2,4,60.0
2020-06-03,NaN,11,0,10,1,5,45.0
2020-09-03,NaN,15,4,7,2,0,75.0
2020-05-04,NaN,11,10,7,0,0,NaN
2020-06-05,NaN,16,4,6,0,0,NaN
2020-08-05,1008.0,12,10,6,2,0,NaN
2020-06-07,1009.0,12,2,8,2,4,60.0
2020-08-09,1010.0,12,6,9,1,0,85.0

In [12]:
df.interpolate(method = 'time') # Now missing VAlues is filled according to date time.

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
Date,,,,,,,
2020-01-02,1001.000000,10,2,9,3,5,50.000000
2020-05-02,1002.000000,10,6,8,2,0,48.157895
2020-01-03,1001.008264,10,3,8,2,4,60.000000
2020-06-03,1008.222222,11,0,10,1,5,45.000000
2020-09-03,1010.000000,15,4,7,2,0,75.000000
2020-05-04,1002.388889,11,10,7,0,0,47.960526
2020-06-05,1008.611111,16,4,6,0,0,52.500000
2020-08-05,1008.000000,12,10,6,2,0,83.412698
2020-06-07,1009.000000,12,2,8,2,4,60.000000
2020-08-09,1010.000000,12,6,9,1,0,85.000000

In [13]:
df.interpolate(method = 'index')

,Student ID,Class,Study hrs,Sleeping hrs,Social Media usage hrs,Mobile Games hrs,Percantege
Date,,,,,,,
2020-01-02,1001.000000,10,2,9,3,5,50.000000
2020-05-02,1002.000000,10,6,8,2,0,48.157895
2020-01-03,1001.008264,10,3,8,2,4,60.000000
2020-06-03,1008.222222,11,0,10,1,5,45.000000
2020-09-03,1010.000000,15,4,7,2,0,75.000000
2020-05-04,1002.388889,11,10,7,0,0,47.960526
2020-06-05,1008.611111,16,4,6,0,0,52.500000
2020-08-05,1008.000000,12,10,6,2,0,83.412698
2020-06-07,1009.000000,12,2,8,2,4,60.000000
2020-08-09,1010.000000,12,6,9,1,0,85.000000

In [14]:
df.interpolate(method = 'nearest')

ImportError: Missing optional dependency 'scipy'. nearest interpolation requires SciPy. Use pip or conda to install scipy.

In [ ]:
df=pd.read_csv("D:\CSV\student_results - Copy.csv",parse_dates=['Date'],index_col = 'Class')
df

In [ ]:
df.interpolate(method = 'nearest')

In [ ]:
df.interpolate(method = 'index')

In [ ]:
df.interpolate(method = 'nearest')

In [ ]:
df.interpolate(method = 'index')